[submodule "Epoque\Registry"]
    path = vendor/epoque/registry;
    url  = git@github.com:Epoque-Tech/Registry.git

[submodule "vendor/epoque/chameleon"]
	path = vendor/epoque/chameleon
	url = git@github.com:Epoque-Tech/Essentials.git
